.boardList-wrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .boardList-header {
    color: midnightblue;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .boardList-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boardList-footer {
    margin: 1.5rem;
  }
}
